In [127]:
import numpy as np
import pandas as pd

In [128]:
train = pd.read_csv("Desktop/googleLandmarksTrain.csv")

In [129]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225029 entries, 0 to 1225028
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1225029 non-null  object
 1   url          1225029 non-null  object
 2   landmark_id  1225029 non-null  object
dtypes: object(3)
memory usage: 28.0+ MB

In [130]:
#Descrizione dataset:
#id = valore univoco per ogni record
#url = link della foto
#landmark_id = id univoco per monumento, es. tutte le foto del colosseo hanno lo stesso landmark_id

In [131]:
train.head(1000)

,id,url,landmark_id
0,97c0a12e07ae8dd5,http://lh4.ggpht.com/-f8xYA5l4apw/RSziSQVaABI/...,6347
1,650c989dd3493748,https://lh5.googleusercontent.com/-PUnMrX7oOyA...,12519
2,05e63ca9b2cde1f4,http://mw2.google.com/mw-panoramio/photos/medi...,264
3,08672eddcb2b7c93,http://lh3.ggpht.com/-9fgSxDYwhHA/SMvGEoltKTI/...,13287
4,fc49cb32ef7f1e89,http://lh6.ggpht.com/-UGAXxvPbr98/S-jGZbyMIPI/...,4018
...,...,...,...
995,ad1ee13d3c629cab,http://lh3.ggpht.com/-OZfqFAaESNk/Rr3ibY5onBI/...,9779
996,36b79ec5067cb20e,https://lh4.googleusercontent.com/-hs0-UIy-6MA...,8063
997,c452e21a2c7b8cd1,https://lh6.googleusercontent.com/-ta0aZRNOMeQ...,9954
998,a4f7cc85140de8e2,https://lh3.googleusercontent.com/-Z04v96Rnoqk...,6051
999,dc8005e3ef0d81b2,https://lh3.googleusercontent.com/-NbnQKaW5GFQ...,6051

In [132]:
train.describe()

                      id      url landmark_id
count            1225029  1225029     1225029
unique           1225029  1154353       14945
top     7c4a78cb9c7bbb5c     None        None
freq                   1    70677       70677

In [133]:
train.groupby("landmark_id")

In [134]:
first = train.iloc[998, 1]

In [135]:
print(first)

https://lh3.googleusercontent.com/-Z04v96Rnoqk/S7HtGxpC-5I/AAAAAAAAHyM/Q4eUaKP7vMc/s1600/

In [136]:
second = train.iloc[999, 1]

In [137]:
print(second)

https://lh3.googleusercontent.com/-NbnQKaW5GFQ/ShsUJf6qxFI/AAAAAAAAAKE/4sM1f47tGTs/s1600/

In [138]:
#ora conto quante righe hanno il valore nullo nella colonna landmark_id

In [139]:
train.replace("None","NaN")

,id,url,landmark_id
0,97c0a12e07ae8dd5,http://lh4.ggpht.com/-f8xYA5l4apw/RSziSQVaABI/...,6347
1,650c989dd3493748,https://lh5.googleusercontent.com/-PUnMrX7oOyA...,12519
2,05e63ca9b2cde1f4,http://mw2.google.com/mw-panoramio/photos/medi...,264
3,08672eddcb2b7c93,http://lh3.ggpht.com/-9fgSxDYwhHA/SMvGEoltKTI/...,13287
4,fc49cb32ef7f1e89,http://lh6.ggpht.com/-UGAXxvPbr98/S-jGZbyMIPI/...,4018
...,...,...,...
1225024,4bb5a501e5b26a6a,https://lh6.googleusercontent.com/-mRrQU3t5cYw...,9737
1225025,2cd8a404796cfe0e,https://lh6.googleusercontent.com/-0UB5gFx6w7M...,7758
1225026,8733b8b469fb8c1b,http://lh3.ggpht.com/-TDQWNVvJQDI/SI3HZSA4D3I/...,13170
1225027,14dd9e8790397c83,https://lh4.googleusercontent.com/-anV4Xpo0UuM...,5669
1225028,4303049d5a6b5602,https://lh6.googleusercontent.com/-1pe3ldzCDAw...,4987

In [140]:
train['landmark_id'].isna().sum()

0

In [144]:
#Conteggio link per ogni landmark_id in ordine decrescente
train['landmark_id'].value_counts()

None     70677
9633     48555
6051     47830
6599     21780
9779     17602
         ...
8797         1
11974        1
494          1
9208         1
14268        1
Name: landmark_id, Length: 14945, dtype: int64

In [141]:
train['url'].isna().sum()

0

In [142]:
train['id'].isna().sum()

0

In [99]:
train.describe()

                      id      url landmark_id
count            1225029  1225029     1225029
unique           1225029  1154353       14945
top     7c4a78cb9c7bbb5c     None        None
freq                   1    70677       70677

In [100]:
#C'è una relazione tra il landmark_id sequenziale e il luogo?

In [101]:
primoRecord = train.iloc[0,1]

In [102]:
print(primoRecord)

http://lh4.ggpht.com/-f8xYA5l4apw/RSziSQVaABI/AAAAAAAAASE/V8rWCdC0cvI/s1600/

In [103]:
#Potremmo fare una selezione e mantenere solo i luoghi per i quali ci sono più url ( es. >50)
train.groupby(['landmark_id'])

In [104]:
train.groupby(['landmark_id']).count()

                id    url
landmark_id
0               68     68
1                3      3
10               5      5
100             62     62
1000            87     87
...            ...    ...
9996             8      8
9997            21     21
9998             6      6
9999          1107   1107
None         70677  70677

[14945 rows x 2 columns]

In [105]:
trainGroupLandID=train.groupby(['landmark_id']).count()

In [106]:
trainGroupLandID["url"].sum()

1225029

In [113]:
trainGroupLandID.loc[(trainGroupLandID['url'] >= 50)]

                id    url
landmark_id
0               68     68
100             62     62
1000            87     87
10000          111    111
10005         1007   1007
...            ...    ...
9992           231    231
9994            91     91
9995           144    144
9999          1107   1107
None         70677  70677

[3380 rows x 2 columns]

In [114]:
trainRidotto=trainGroupLandID.loc[(trainGroupLandID['url'] >= 50)]

In [115]:
#sommo il numero dei link di tutte le immagini rimaste dopo la selezione

In [116]:
trainRidotto["url"].sum()

1070693

In [117]:
#provo numero di link >= 100

In [118]:
trainRidotto=trainGroupLandID.loc[(trainGroupLandID['url'] >= 100)]

In [119]:
trainRidotto["url"].sum()

970606

In [122]:
# >= 200

In [123]:
trainRidotto=trainGroupLandID.loc[(trainGroupLandID['url'] >= 200)]

In [124]:
trainRidotto["url"].sum()

845823